.floatright {
    max-width: 30%;
    width: auto\9*0.3;
    /* ie8 */
    height: auto;
    float: right;
    margin-left: 10px !important;
}

.floatleft {
    max-width: 30%;
    width: auto\9*0.3;
    /* ie8 */
    height: auto;
    float: left;
    margin-right: 10px !important;
}